<header class='top-page-header'>
  <div class='header-contents'>
    <div class='upper-header'>
      <%= link_to 'Reizo', root_path, class:"top-btn" %>
      <ul class='right-list'>
        <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, '#', class:'user-nickname' %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'logout' %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class:'login' %></li>
          <li><%= link_to "新規登録", new_user_registration_path, class:'sign-up' %></li>
        <% end %>
      </ul>
    </div>
    <div class='app-description'>
      誰でも簡単、食材管理アプリ<br />
      <p class='sub-description'>
        Reizoは冷蔵庫のお悩みを解決する<br />
        食材管理アプリです。
      </p>
    </div>
    <div class='foods-search'>
      <%= search_form_for @search, url: search_foods_path, class: 'search-form' do |f| %>
        <%= f.text_field :name_cont, placeholder: "食材を探す", class: 'input-box'%>
        <%= f.collection_select(:category_id_eq, Category.where.not(id: 1), :id, :name, include_blank: 'カテゴリー指定なし', class: "search-category") %>
        <%= f.date_field :bb_date_gteq, :value => Time.now.strftime('%Y-%m-%d'), class: 'search-bb-date' %>
        <button class="search-button">
          <%= image_tag "search.png", class:"search-icon" %>
        </button>
      <% end %>
    </div>
  </div>
</header>