<%= render "shared/header" %>

<div class="main">
  <div class='contents'>
    <h1 class="title">
      食材一覧
    </h1>
    <ul class="foods-list">

      <% @foods.each do |food| %>
        <% if user_signed_in? && current_user.id == food.user.id %>
            <li class='food'>
              <%= link_to edit_food_path(food.id), class:'food-link' do %>
                <div class='name'>
                  <%= food.name %>
                </div>
                <div class='number'>
                  <%= food.number %>
                  <%= food.unit.name %>
                </div>
                <div class='bb-date'>
                  賞味期限
                  <%= food.bb_date %>
                </div>
              <% end %>
            </li>
        <% end %>
      <% end %>

      <%# ダミーテキスト %>
      <% unless user_signed_in? && current_user.foods.present? %>
        <li class='dummy-text'>
          <div class='name'>
            例) じゃがいも
          </div>
          <div class='number'>
            5個
          </div>
          <div class='bb-date'>
            賞味期限 2020-01-01
          </div>
        </li>
      <% end %>
      <%# /ダミーテキスト %>

    </ul>
  </div>
</div>

<% if user_signed_in?%>
  <div class='new-btn'>
    <%= link_to '＋食材', new_food_path, class:'new-food-btn' %>
  </div>
<% end %>

<%= render "shared/footer" %>