<div class='new-contents'>
  <div class='new-sub-contents'>
    <div class='new-header'>
        <%= link_to 'Reizo', root_path, class:'new-top-btn' %>
    </div>
    <div class='new-main'>
      <h1 class='new-title'>
        食材登録
      </h1>
      <div class='new-form'>
        <%= form_with(model: @food, local: true) do |f| %>
          <div class='form-group'>
            <div class='text-title'>
              食材名
              <span class='required'>必須</span>
            </div>
            <%= f.text_area :name, class:'new-text', placeholder: '食材名', autofocus: true %>
            <%= render 'shared/error_messages', model: f.object, attribute: :name %>
          </div>

          <div class='form-group'>
            <div class='text-title'>
              数量
              <span class='required'>必須</span>
            </div>
              <%= f.text_area :number, class:'new-text', placeholder: '半角数字' %>
              <%= render 'shared/error_messages', model: f.object, attribute: :number %>
          </div>

          <div class='form-group'>
            <div class='text-title'>
              単位
              <span class='required'>必須</span>
            </div>
            <%= f.collection_select(:unit_id, Unit.all, :id, :name, {}, {class:"select-unit"}) %>
            <%= render 'shared/error_messages', model: f.object, attribute: :unit_id %>
          </div>

          <div class='form-group'>
            <div class='text-title'>
              カテゴリー
              <span class='required'>必須</span>
            </div>
            <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box"}) %>
            <%= render 'shared/error_messages', model: f.object, attribute: :category_id %>
          </div>

          <div class='form-group'>
            <div class='text-title'>
              賞味期限
              <span class='required'>必須</span>
            </div>
            <div class='bb-date-form'>
              <%= f.date_field :bb_date, class: 'select-bb-date' %>
              <%= render 'shared/error_messages', model: f.object, attribute: :bb_date %>
            </div>
          </div>
          <div class='submit-form'>
            <%= f.submit '登録する', class:'submit-btn'%>
            <%= link_to '戻る', root_path, class: 'back-btn' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>